

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="row">



                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                    <div class="sale-statistic-inner notika-shadow mg-tb-30">
                        <div class="curved-inner-pro">
                            <div class="curved-ctn">
                                <h2> Egy salesManagement</h2>
                                <p></p>
                            </div>
                        </div>
                          <div class="col-lg-70 col-md-30 col-sm-40 col-xs-40">
                    <div class="logo-area">
                       <img src="img/postar.png" alt="" width=60% height=20%/>
                    </div>
                </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                        <div class="past-day-statis">

                <p>first take for logeen  company make simple salse mangment  unsing .Net 6 2022 Develop by Abdurhamn Gamal Ahmed </p>
                        </div>
                    </div>
                </div>
            </div>