@model sales_management.ModelView.Company_infoModelView

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-70">
       <form action="~/Company_info/Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
             <input type="hidden" asp-for="logo" value="@Model.logo" />
                <div class="form-group">
                <label asp-for="Company_name" class="control-label"></label>
                <input asp-for="Company_name" class="form-control" />
                <span asp-validation-for="Company_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number" class="control-label"></label>
                <input asp-for="phone_number" class="form-control" />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax_Number" class="control-label"></label>
                <input asp-for="Tax_Number" class="form-control" />
                <span asp-validation-for="Tax_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_mail" class="control-label"></label>
                <input asp-for="E_mail" class="form-control" />
                <span asp-validation-for="E_mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Whatsapp" class="control-label"></label>
                <input asp-for="Whatsapp" class="form-control" />
                <span asp-validation-for="Whatsapp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Print_type" class="control-label"></label>
                <input asp-for="Print_type" class="form-control" />
                <span asp-validation-for="Print_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cloud_type" class="control-label"></label>
                <input asp-for="Cloud_type" class="form-control" />
                <span asp-validation-for="Cloud_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <textarea asp-for="note" class="form-control"></textarea>
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thermal_printing" class="control-label"></label>
                <input asp-for="thermal_printing" class="form-control" />
                <span asp-validation-for="thermal_printing" class="text-danger"></span>
            </div>
               <div class="form-group">
                    <div class="col-md-10">
                    <img src="~/img/@Model.logo" width="100px" />
                    @Html.HiddenFor(mode=>mode.logo )
                </div>
                <div class="col-md-10">
                <label asp-for="imagefile" class="control-label"></label>
                <input asp-for="imagefile" class="form-control" />
                <span asp-validation-for="imagefile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

